@functions
{
public string ClassActive(string controller_Name, string action_Name = "list")
{
    var controllerName = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var actionName = ViewContext.RouteData.Values["Action"].ToString().ToLower();

    if (controllerName == controller_Name.ToLower() && actionName == action_Name.ToLower())
    {
        return "class=active";
    }

    return "";
}
}

<ul class="sidebar-menu" data-widget="tree">
    <li class="header">菜单(MENU)</li>

    @*@foreach (var item in (ViewData["Menu"] as List<MenuViewModel>).OrderBy(order => order.Sort))
        {
            @await Html.PartialAsync("_MenuItemPartial", item)
        }*@

    <li @ClassActive("home", "index")>
        <a asp-controller="Home" asp-action="Index">
            <i class="fa fa-desktop"></i> <span>控制面板</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-address-card-o"></i> <span>身份资源</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Link in level 2</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Link in level 2</a></li>
        </ul>
    </li>
    <li @ClassActive("apiresource")>
        <a asp-controller="ApiResource" asp-action="List">
            <i class="fa fa-book"></i> <span>API资源</span>
        </a>
    </li>
    <li @ClassActive("client")>
        <a asp-controller="Client" asp-action="List">
            <i class="fa fa-android"></i> <span>客户端</span>
        </a>
    </li>
</ul>