@model Jeans.IdentityServer4.UI.Core.Entity.ClientGrantType

@{
    ViewData["Title"] = "Add";
}

<section class="content-header">
    <h1>
        ClientGrantType
        <small>@ViewData["Title"]</small>
    </h1>
</section>
<section class="content container-fluid">
    <div class="box box-primary">

        <form class="form-horizontal" method="post" asp-action="Add">
            <div class="box-body">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="help-block"></div>
                <div class="form-group">
                    <label asp-for="GrantType" class="col-sm-2 control-label"></label><div class="col-sm-8">
                        <select class="form-control" asp-for="GrantType" asp-items="@ViewBag.GrantTypeSelectItemList"></select>
                        <span asp-validation-for="GrantType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClientId" class="col-sm-2 control-label">Client.Name</label><div class="col-sm-8">
                        <select class="form-control" asp-for="ClientId" asp-items="@ViewBag.ClientSelectItemList"></select>
                        <span asp-validation-for="ClientId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="box-footer text-center">
                <a asp-controller="ClientGrantType" asp-action="List" class="btn btn-default pull-left">
                    <i class="fa fa-arrow-left"></i>
                    返回列表
                </a>
                <button type="reset" class="btn btn-default">重置</button>
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>

    </div>
</section>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
